/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Color Pallette
===============
-Middle Green Yellow: #B1CC74
-Cultured: #F5F5F5
-Buff: #FCE694
*/

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Profile
===============
*/

img {
  position: relative;
  background-color: #fce694;
  object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1em;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  margin: 1em;
  background: #b1cc74;
  margin-left: auto;
  margin-right: auto;
}

#role {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #b1cc74;
}

.container {
  background: #f5f5f5;
  padding: 1.5rem 2rem;
  margin: 1em;
  text-align: center;
}

/* Button styling */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.button {
  /* background-color: #b1cc74; */
  width: auto;
  margin: 10px;
  padding: 0.5em;
}

.previous,
.next {
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
